*,
*:before,
*:after {
	box-sizing: inherit;
}

* {
	font-family: "Darker Grotesque", sans-serif;
}

/* The CSS box-sizing property allows us to include the
padding and border in an element's total width and height. */
html {
	box-sizing: border-box;
}

body {
	/* background-color: rgb(59, 86, 117); */
	background: url(/images/bg.jpg);
	background-size: cover;
	/* justify-content: center; */
	/* display: flex; */
	align-items: center;
	/* padding: 5em; */

}

.wrapper {
	text-align: center;
	padding: 2em;
	display: flex;
    justify-content: center
}

#mygov {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding: 1em;
	justify-content: center;
	align-items: center;
	background-color: rgba(102, 208, 226, 0.925);
	border-radius: 30px;
	/* margin-top: 2em; */
	max-width: 80%;
	min-width: 300px;
	/* margin: auto; */
}

.guvImage {
	border-radius: 5px;
	box-shadow: 0px 0px 3px black;
	/* margin-bottom: 1em; */
	/* margin-top: 1em; */
	height: 240px;
	width: 200px;
	background: url("/images/guv.jpeg") no-repeat;
	display: inline-block;
}

.guvImage:hover {
	box-shadow: 0px 0px 100px rgba(226, 223, 44, 0.884);
	background: url("/images/guv2.jpg") no-repeat;
}

.mygov__name {
	text-transform: uppercase;
	font-size: 2em;
	/* margin-top: 1em; */
	font-family: "Barriecito", cursive;
}

.mygov__committee {
	font-weight: bold;
	padding-bottom: 0.25em;
	padding-top: 0.25em;
}
.mygov__district {
	/* margin-top: 1.5em; */
}

.mygov__button {
	background-color: rgb(59, 86, 117);
	margin-top: 0.5em;
	text-align: center;
	border-radius: 7px;
	padding: 0.3em;
}

a {
	text-decoration: none;
	color: white;
}

a:hover {
	color: hotpink;
}
ol,
ul {
	padding-left: 0px;
}

.section {
	text-align: center;
}

.mygov__button:hover {
	box-shadow: 0px 0px 10px rgba(255, 105, 180, 0.555);
}

.rightSide {
	padding: 0em 1em;
	/* margin: auto; */
	padding-bottom: .5em;
}

.leftSide {
	/* margin: auto; */
	padding: 0em 1em;
	padding-bottom: 0em;
}

.mygov__goodOrBad {
	padding-top: 0px;
}

.mygov__bills {
	margin-bottom: 0;
}
